<h1><%= @place["name"] %></h1>

<% for post in @posts %>
  <p>
  <h3><%= post["title"] %></h3>
  <b><%= post["posted_on"] %></b> <br>
  <%= post["description"] %> 
  </p>
<% end %>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>
